<div class="row">
    <button class="btn btn-success mr-1" (click)="setInterval()">Start</button>
    <button class="btn btn-warning ml-1" (click)="pauseInterval()">Pause</button>

    <div class="row">

        <div class="col-md-2">
            <div *ngFor="let data of oddNumbers">
                <app-odd [item]="data"></app-odd>
            </div>
        </div>

        <div class="col-md-2">
            <div *ngFor="let data of evenNumbers">
                <app-even [item]="data"></app-even>
            </div>
        </div>
        <div class="col-md-8"></div>
    </div>
</div>